   @import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Marck+Script&family=Pattaya&family=Ysabeau+Office:wght@300;400&display=swap');

   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: 'Ysabeau Office', sans-serif;
   }


   .home {
       height: 100vh;
       position: fixed;
       width: 100%;
       top: 0;
   }

   .home::before {
       content: "";
       background-image: url('/Images/homeImg.jpg');
       background-size: cover;
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
       opacity: 0.4;
   }

   .home__contant {
       position: relative;
       z-index: 2;
   }

   .movingText {
       display: inline-block;
       min-width: 650px;
   }

   .first {
       font-size: 3.2rem;
       line-height: 1;
       color: #171717;
       width: 65vw;
       text-align: center;
       padding-right: 300px;
   }

   .iAm {
       font-size: 3.9rem;
       color: #171717;
       width: 65vw;
   }

   small {
       font-size: 1.8rem;
   }

   @media (max-width:991px) {
       .first {
           font-size: 3rem;
           padding: 20px;
       }

       .iAm {
           font-size: 2rem;
       }

   }